<div ba-panel ba-panel-class="profile-page" ng-controller="registroCtrl">
  <form class="panel-content" ng-submit="registrar()">
    
    <h3 class="with-line">Informações Gerais</h3>
  
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Empresa</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Empresa" ng-model="novoUsuario.empresa">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">CNPJ</label>

          <div class="col-sm-9">
            <input type="text" class="form-control"  ng-model="novoUsuario.cnpj" ui-mask="99.999.999/9999-99" ng-pattern="/^\d{2}\.\d{3}\.\d{3}\/\d{4}\-\d{2}$/">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-4 control-label">Imagem da Empresa</label>

          <div class="col-md-6">
            <div class="form-group row clearfix">
              <div class="col-sm-9">
                <div class="userpic">
                  <div class="userpic-wrapper">
                    <img ng-src="{{ novoUsuario.imagem }}" ng-click="uploadPicture()">
                  </div>
                  <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
                  <a href class="change-userpic" ng-click="uploadPicture()">Alterar imagem do Produto</a>
                  <input type="file" ng-show="false" id="uploadFile" onchange="angular.element(this).scope().imageUpload(event)"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      

    <h3 class="with-line">Login de Acesso</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">Senha</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" ng-model="novoUsuario.senha" placeholder="Digite a senha" value="">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirme Senha</label>

          <div class="col-sm-6">
            <input type="password" class="form-control" ng-model="confirmaSenha" id="inputConfirmPassword" placeholder="Digite novamente a senha">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Informação de Contato</h3>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

          <div class="col-md-10">
            <input type="email" class="form-control" id="inputEmail3" ng-model="novoUsuario.email" placeholder="" >
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputPhone" class="col-sm-3 control-label">Telefone</label>

          <div class="col-md-10">
            <input type="text" class="form-control" id="inputPhone" placeholder="" ng-model="novoUsuario.telefone">
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group row clearfix">
          <div class="col-md-10">
            <div ba-panel ba-panel-title="Local Físico" class="viewport100">
              <div class="input-group">
                  <input name="place" type="text" class="form-control" 
                  ng-model="searchPlace" autofocus />
                  <span class="input-group-btn">
                      <input type='button' class="btn btn-primary" ng-click="pesquisarLocal(searchPlace)" value="Pesquisar"></input>
                  </span>
              </div>
              <div id="google-maps"></div>
                <!-- Google Maps -->
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <button type="submit" class="btn btn-primary btn-with-icon save-profile">
      <i class="ion-android-checkmark-circle"></i>Cadastrar
    </button>
  </form>
</div>
