<div class="widgets" ng-controller="produtoCadastroCtrl">
    <div class="row">
      {{ marcas }}
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Cadastro de Produto" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Informações do Produto" form="vm.personalInfoForm">
                        <form name="vm.personalInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback" ng-class="{'has-error': vm.personalInfoForm.username.$invalid && (vm.personalInfoForm.username.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleUsername1">Nome do Produto</label>
                                        <input type="text" class="form-control" id="exampleUsername1" name="username" placeholder="Nome do produto" ng-model="novoProduto.nome" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div>
                                        <div class="form-group ">
                                            <label>Categoria</label>
                                            <ui-select ng-model="categoria.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true">
                                                <ui-select-match placeholder="Pesquise a categoria">
                                                    {{$select.selected.categoria}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in categorias | filter: $select.search">
                                                    <span ng-bind-html="item.categoria"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label class="custom-checkbox">
                                            <input type="checkbox" ng-model="novoProduto.isDisponivel">
                                            <span>Disponivel</span>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row clearfix">
                                                <label for="inputFirstName" class="col-sm-3 control-label">Imagem Produto</label>
                                                <div class="col-sm-9">
                                                    <div class="userpic">
                                                        <div class="userpic-wrapper">
                                                            <img ng-src="{{ picture }}" ng-click="uploadPicture()">
                                                        </div>
                                                        <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
                                                        <a href class="change-userpic" ng-click="uploadPicture()">Alterar imagem do Produto</a>
                                                        <input type="file" ng-show="false" id="uploadFile" onchange="angular.element(this).scope().imageUpload(event)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.password.$invalid && (vm.personalInfoForm.password.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputPassword1">Nº de Referência</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" name="password" placeholder="Referência" ng-model="novoProduto.referencia" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="slider-box">
                                        <h5>Preço (Opcional)</h5>
                                        <input 
                                          ion-range-slider
                                          apply="apply" range-options="{min:0, max: 2000}"
                                          ng-model="novoProduto.preco"
                                          type="single"
                                          grid="true"
                                          prefix="R$ "
                                          on-finish="checkUP()"
                                          disable="false">
                                        </input>
                                    </div>
                                    <!--<div class="slider-box">
                                        <h5>Preço (Opcional)</h5>
                                        <ion-slider 
                                          ng-model="teste"
                                          type="single"
                                          grid="true"
                                          min="0"
                                          max="2000"
                                          prefix="R$ "
                                          on-finish="checkUP()"
                                          from="precoSlider.inicial"
                                          to="precoSlider.final"
                                          disable="false">
                                        </ion-slider>
                                    </div>-->
                                    <div class="form-group">
                                        <label for="textarea01">Descrição</label>
                                        <textarea placeholder="Descreva a peça aqui.." ng-model="novoProduto.descricao" class="form-control" id="textarea01" style="margin: 0px -4.5px 0px 0px; width: 520px; height: 163px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <pre>{{ teste  | json}}</pre>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Compatibilidade" form="vm.productInfoForm">
                        <form name="vm.productInfoForm" novalidate>
                            <div class="row" style="margin-left: 125px">
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label>Marca</label>
                                        <ui-select ng-model="selectpickerVm.withSearchItem.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true">
                                            <ui-select-match placeholder="Pesquise a marca">
                                                {{$select.selected.label}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="marca in marcas | filter: $select.search">
                                                <span ng-bind-html="marca.nome"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label>Marca</label>
                                        <ui-select ng-model="selectpickerVm.withSearchItem.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true">
                                            <ui-select-match placeholder="Pesquise o Modelo">
                                                {{$select.selected.label}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="withSearchItem in selectpickerVm.selectWithSearchItems | filter: $select.search">
                                                <span ng-bind-html="withSearchItem.label"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label>Modelo</label>
                                        <ui-select ng-model="selectpickerVm.withSearchItem.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true">
                                            <ui-select-match placeholder="Pesquise o ano">
                                                {{$select.selected.label}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="withSearchItem in selectpickerVm.selectWithSearchItems | filter: $select.search">
                                                <span ng-bind-html="withSearchItem.label"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="button-wrapper">
                                            <button type="button" class="btn btn-primary btn-raised">Adicionar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div ba-panel ba-panel-title="Veiculos Compativeis" ba-panel-class="with-scroll table-panel">
                                        <div include-with-scope="app/pages/tables/widgets/borderedTable.html"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Finalizar">
                        <form class="form-horizontal" name="vm.finishForm" novalidate>
                            Produto cadastrado com sucesso!!!
                        </form>
                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>
</div>
