<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Cadastro de Produto" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Informações do Produto" form="vm.produtoInfoForm">
                        <form name="vm.produtoInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback" ng-class="{'has-error': vm.produtoInfoForm.nome.$invalid && (vm.produtoInfoForm.nome.$dirty || vm.produtoInfoForm.$pristine)}">
                                        <label for="nome">Nome do Produto</label>
                                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do produto" ng-model="vm.novoProduto.nome" required>
                                        <span class="help-block error-block basic-block">Preencher</span>
                                    </div>
                                    <!--
                                    <div class="form-group ">
                                            <label>Nome</label>
                                            <ui-select ng-model="vm.novoProduto.nome" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true" on-select="vm.selProduto($item)" >
                                                <ui-select-match placeholder="Informe o Produto">
                                                    {{$select.selected}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in vm.produtos | filter: $select.search">
                                                    <span ng-bind-html="item.nome"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>-->
                                    <div>
                                        <div class="form-group ">
                                            <label>Categoria</label>
                                            <ui-select ng-model="vm.novoProduto.categoria" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true" on-select="vm.selCategoria($item)" >
                                                <ui-select-match placeholder="Pesquise a categoria">
                                                    {{$select.selected.categoria}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in vm.categorias | filter: $select.search">
                                                    <span ng-bind-html="item.categoria"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label class="custom-checkbox">
                                            <input type="checkbox" ng-model="vm.novoProduto.isDisponivel">
                                            <span>Disponivel</span>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row clearfix">
                                                <label for="inputFirstName" class="col-sm-3 control-label">Imagem Produto</label>
                                                <div class="col-sm-9">
                                                    <div class="userpic">
                                                        <div class="userpic-wrapper">
                                                            <img ng-src="{{ vm.novoProduto.imagem }}" ng-click="vm.uploadPicture()">
                                                        </div>
                                                        <i class="ion-ios-close-outline" ng-click="vm.removePicture()" ng-if="!noPicture"></i>
                                                        <a href class="change-userpic" ng-click="vm.uploadPicture()">Alterar imagem do Produto</a>
                                                        <input type="file" ng-show="false" id="uploadFile" onchange="angular.element(this).scope().imageUpload(event)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.password.$invalid && (vm.personalInfoForm.password.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputPassword1">Nº de Referência</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" name="password" placeholder="Referência" ng-model="vm.novoProduto.referencia" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="slider-box">
                                        <h5>Preço (Opcional)</h5>
                                        <input 
                                          ion-range-slider
                                          apply="apply" range-options="{min:0, max: 2000}"
                                          ng-model="vm.novoProduto.preco"
                                          type="single"
                                          grid="true"
                                          prefix="R$ "
                                          on-finish="vm.checkUP()"
                                          disable="false">
                                        </input>
                                    </div>
                                    <div class="form-group">
                                        <label for="textarea01">Descrição</label>
                                        <textarea placeholder="Descreva a peça aqui.." ng-model="vm.novoProduto.descricao" class="form-control" id="textarea01" style="margin: 0px -4.5px 0px 0px; width: 520px; height: 163px;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Compatibilidade" form="vm.productInfoForm3">
                        <form  novalidate>
                            <div class="row" style="margin-left: 125px">
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label>Marca</label>
                                        <ui-select ng-model="vm.marcaSelecionada" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true" on-select="vm.onMarcaSelected($item)">
                                            <ui-select-match placeholder="Pesquise a marca" >
                                                {{ vm.marcaSelecionada.nome }}
                                            </ui-select-match>
                                            <ui-select-choices repeat="marca in vm.marcas | filter: $select.search">
                                                <span ng-bind-html="marca.nome"></span>
                                            </ui-select-choices>

                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label>Modelo</label>
                                        <ui-select ng-model="vm.modeloSelecionado" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true" on-select="vm.onModeloSelected(vm.modeloSelecionado)">
                                            <ui-select-match placeholder="Pesquise o Modelo">
                                                {{ vm.modeloSelecionado.nome }}
                                            </ui-select-match>
                                            <ui-select-choices repeat="modelo in vm.modelos | filter: $select.search">
                                                <span ng-bind-html="modelo.nome"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label>Ano</label>
                                        <ui-select ng-model="vm.carro.ano" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true">
                                            <ui-select-match placeholder="Pesquise o ano">
                                                {{$select.selected.nome}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="ano in vm.anos | filter: $select.search">
                                                <span ng-bind-html="ano.nome"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="button-wrapper">
                                            <button type="button" class="btn btn-primary btn-raised" ng-click="vm.addCarro(vm.carro)">Adicionar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div ba-panel ba-panel-title="Veiculos Compativeis" ba-panel-class="with-scroll table-panel">
                                        <div include-with-scope="app/pages/produto/listagem/borderedTable.html"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Finalizar">
                        <form  class="form-horizontal"  novalidate>
                            <div class="text-center">
                                <h3>{{ vm.feedback }}</h3>
                                <button ng-click="vm.cadastrarProduto(vm.novoProduto)" type="button" class=" btn btn-primary">
                                    <span aria-hidden="true">&larr;</span> Submeter
                                </button>
                            </div>
                            
                        </form>
                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>
</div>
